<div class="col-md-12">
  <p id="notice"><%= notice %></p>

  <h3>Listing of all Tasks</h3>
  <br>
  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-hover">
      <thead>
        <tr>
          <th>Title</th>
          <th>Image</th>
          <th>Description</th>
          <th>Date</th>
          <th>Time</th>
          <th>Completed</th>
          <th colspan="3">Tasks actions</th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| %>
          <tr>
            <td><%= task.title %></td>
            <td width="100"><%= image_tag(task.category.image_url, width: 100, alt: task.category.title) if task.category.image.present? %></td>
              <td><%= task.description %></td>
            <td>
              <%= task.start_date.strftime("%A") %>
              <%= task.start_date.strftime("%d") %>
              <%= task.start_date.strftime("%B, %Y") %>
            </td>
            <td><%= task.start_date.strftime("%R") %><%= task.due_date.present? ? "-#{task.due_date.strftime("%R")}" : "" %>
            </td>
            <td><%= task.completed %></td>
            <td><%= link_to 'Show', task, class: 'btn btn-outline-info' %></td>
            <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-outline-warning' %></td>
            <td><%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>
