<div class="col-md-8">
  <p id="notice"><%= notice %></p>

  <h4>Title of this Task:</h4>
  <p><%= @task.title %></p>
  

  <h4>Description of this Task:</h4>
  <p><%= @task.description %></p>
 

  <h4>Task started at:</h4>
  <p><%= @task.start_date %></p>
 

  <h4>Task finished at:</h4>
  <p><%= @task.due_date %></p>
  

  <h4>Task Completed:</h4>
  <p><%= @task.completed %></p>
  

  <%= link_to 'Edit this Task', edit_task_path(@task), class: 'btn btn-outline-warning' %> 
  <%= link_to 'Back to all Tasks', tasks_path, class: 'btn btn-outline-primary' %>
</div>
